################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/WPOdev/.vs/WebProje/copilot-chat/3f59d3ce/sessions
